body{
    font-family: 'Poppins', sans-serif;
}
.menu{
    padding-top: 20px;
}
.menu img{
    height: 60px;
}
.navbar-nav{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
.btn-success{
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #21B573;
    font-size: 16px;
    line-height: 19px;
}
.herobanner {
    padding: 30px 20px;
}
.herobanner h1{
    font-style: normal;
    font-weight: 800;
    padding-bottom: 15px;
}
.herobanner img{
    width: 100%;
    margin: 30px 0px;
}
.header-main{
    background-color: #F0FFF0;
}
#orange-p{
    color: #FD511A;
}
#green-heading{
    color: #21B573;
}
.information .card img{
    height: 90px;
    width: 70px;
}
.information .card{
    text-align: center;
    background-color: #F8FFFB;
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
    border-radius: 10px;
    margin: 0px 5px;
}
.information{
    margin-top: 50px;
    margin-bottom: 50px;
}
#card-h-item{
    background-color: white;
    box-shadow: 5px 5px 10px rgb(224, 223, 223);
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
    border-radius: 10px;
}
.course-area{
    margin-top: 100px;
    margin-bottom: 50px;
}
.course-area-inner{
    margin-top: 20px;
}
.course-area img{
    padding: 15px;
}
.course-area .card{
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.course-area .card-body{
    padding: 20px;
}
.course-area .card-tittle{
    font-weight: 800;
}
.course-info{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.testimonial{
    margin-top: 100px;
    margin-bottom: 50px;
}
.testimonial img{
    margin: 5px;
    padding: 5px;
    height: 120px;
    width: 120px;
}
.testimonial p{
    margin: 5px;
    padding: 5px;
    text-align: justify;
}
.testimonial-item{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer ul{
    list-style-type: none;
    padding: 10px; /* Remove padding */
    margin: 0;
}
.footer{
    margin-top: 30px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}
.footer p{
    padding: 10px;

}
.footer .container{
    padding-right: 10px;
}